<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:07:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNGExtentReport.AutoExeBigPage()[pri:2, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">AutoExeBigPage</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:08:39</td>   <td>75840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNGExtentReport.FillOutFormPage()[pri:5, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">FillOutFormPage</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:10:27</td>   <td>183838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNGExtentReport.InteractionsElementsPage()[pri:7, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">InteractionsElementsPage</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:07:57</td>   <td>33718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNGExtentReport.LandingPage()[pri:3, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">LandingPage</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:09:01</td>   <td>98030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNGExtentReport.LearnHowToAutomatePage()[pri:6, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">LearnHowToAutomatePage</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:08:17</td>   <td>54147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNGExtentReport.PricingPage()[pri:4, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">PricingPage</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:06:44</td>   <td>-38996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNGExtentReport.ULoginAutomationPage()[pri:1, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">ULoginAutomationPage</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:06:29</td>   <td>-53924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNGExtentReport.UltimateQAPage()[pri:0, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">UltimateQAPage</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:06:23</td>   <td>-60061</td> <td title="&gt;&gt;UltimateQATestNGExtentReport.setUpExtent()[pri:0, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">&gt;&gt;setUpExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:06:23</td>   <td>-59893</td> <td>&nbsp;</td><td title="&gt;&gt;UltimateQATestNGExtentReport.setUptest()[pri:0, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:11:27</td>   <td>244643</td> <td title="&lt;&lt;UltimateQATestNGExtentReport.tearDown()[pri:0, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="ea6197">  <td>20/03/06 15:11:13</td>   <td>229945</td> <td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNGExtentReport.terminateTest()[pri:0, instance:ExtentReports.UltimateQATestNGExtentReport@d4342c2]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
</table>
