<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestNG.UltimateQATestNG</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ULoginAutomationPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PricingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LearnHowToAutomatePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AutoExeBigPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InteractionsElementsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FillOutFormPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UltimateQAPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LandingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
