<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 22:59:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNG.AutoExeBigPage()[pri:2, instance:TestNG.UltimateQATestNG@3c9d0b9d]">AutoExeBigPage</td> 
  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:01:01</td>   <td>76688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNG.FillOutFormPage()[pri:5, instance:TestNG.UltimateQATestNG@3c9d0b9d]">FillOutFormPage</td> 
  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:02:55</td>   <td>191008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNG.InteractionsElementsPage()[pri:7, instance:TestNG.UltimateQATestNG@3c9d0b9d]">InteractionsElementsPage</td> 
  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:00:18</td>   <td>33929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNG.LandingPage()[pri:3, instance:TestNG.UltimateQATestNG@3c9d0b9d]">LandingPage</td> 
  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:01:29</td>   <td>104140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNG.LearnHowToAutomatePage()[pri:6, instance:TestNG.UltimateQATestNG@3c9d0b9d]">LearnHowToAutomatePage</td> 
  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:00:39</td>   <td>54451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNG.PricingPage()[pri:4, instance:TestNG.UltimateQATestNG@3c9d0b9d]">PricingPage</td> 
  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 22:59:06</td>   <td>-38842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNG.ULoginAutomationPage()[pri:1, instance:TestNG.UltimateQATestNG@3c9d0b9d]">ULoginAutomationPage</td> 
  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 22:58:50</td>   <td>-54525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATestNG.UltimateQAPage()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">UltimateQAPage</td> 
  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 22:58:44</td>   <td>-60622</td> <td title="&gt;&gt;UltimateQATestNG.beforeSuite()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1238959340</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 22:58:44</td>   <td>-60614</td> <td>&nbsp;</td><td title="&gt;&gt;UltimateQATestNG.setUptest()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1238959340</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 22:59:06</td>   <td>-38845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 22:59:44</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:00:18</td>   <td>33929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:00:39</td>   <td>54451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:01:01</td>   <td>76688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:01:29</td>   <td>104139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:02:55</td>   <td>191007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:03:42</td>   <td>237955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1782234244</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:03:57</td>   <td>252693</td> <td title="&lt;&lt;UltimateQATestNG.tearDown()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1238959340</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>20/03/05 23:03:42</td>   <td>237957</td> <td>&nbsp;</td><td title="&lt;&lt;UltimateQATestNG.terminateTest()[pri:0, instance:TestNG.UltimateQATestNG@3c9d0b9d]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1238959340</td>   <td></td> </tr>
</table>
